<html>
	<head>
		<title>Weather App</title>
		<link rel="stylesheet" type="text/css" href="styles.css" />
	</head>
	<body background="background.png">

		<div class="top-left">
			<img id="logo" src="logo.png" />
		</div>

		<ul id="nav">
   		<li id="nav-home"><a href="/home">Home</a></li>
   		<li id="nav-forecast"><a href="/weatherForecast">Forecast Weather</a></li>
   		<li id="nav-getWeather"><a href="getWeatherDB">Get weather from DB</a></li>
		</ul>

		<div class="display-routes">
				<p><strong>Routes 1 : </strong></p>
      	<p><strong>DTTA</strong></p>
				<p><strong>KEMIR</strong></p>
				<p><strong>MORJA</strong></p>
				<p><strong>ANB</strong></p>
				<p><strong>JIL</strong></p>
				<p><strong>BJA</strong></p>
				<p><strong>BNA</strong></p>
				<p><strong>DAAG</strong></p>
				<p><strong>Routes 2 : </strong></p>
				<p><strong>LFPG</strong></p>
				<p><strong>BRY</strong></p>
				<p><strong>OKRIX</strong></p>
				<p><strong>AVLON</strong></p>
				<p><strong>MADOT</strong></p>
				<p><strong>ETREK</strong></p>
				<p><strong>MTL</strong></p>
				<p><strong>MTG</strong></p>
				<p><strong>LFML</strong></p>
		</div>

	</body>
</html>
